form {
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr auto 1fr;
  gap: 10px;
    align-items: center;

    app-title {
        min-width: 95px;
    }

  .span-2 {
    grid-column: span 3;
  }
}
