<!-- <div class="page-menu-container">
  <ul>
    <li [routerLink]="['/page-menu/basic-info']">Basic Info</li>
    <li [routerLink]="['/page-menu/abilities']">Abilities</li>
  </ul>
  <div class="page-menu-wrapper">
    <router-outlet></router-outlet>
  </div>
</div> -->
<div class="page-menu-container">
  <app-fragment-menu />
  <!-- <app-fragment-menu /> -->
  <!-- <app-fragment-menu />
  <app-fragment-menu />
  <app-fragment-menu />
  <app-fragment-menu />
  <app-fragment-menu />
  <app-fragment-menu />
  <app-fragment-menu /> -->
</div>
