.page-menu-container {
  display: grid;
  grid-template-columns: auto 1fr;
  
  .page-menu-wrapper {
    padding: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
