<form [formGroup]="attackForm">
  <h3>Weapons</h3>
  @for (key of formKeys; let i = $index; track key) {
    <ng-container [formGroupName]="key">
      <mat-form-field class="full-width no-bottom-margin">
        <mat-label>Weapon Name</mat-label>
        <input matInput formControlName="weaponName" />
      </mat-form-field>
      <mat-form-field class="full-width no-bottom-margin">
        <mat-label>Attack Bonus</mat-label>
        <input matInput formControlName="attackBonus" />
      </mat-form-field>
      <mat-form-field class="half-width no-bottom-margin">
        <mat-label>Damage</mat-label>
        <input matInput type="number" formControlName="damage" />
      </mat-form-field>
      <mat-form-field class="half-width no-bottom-margin">
        <mat-label>Critical</mat-label>
        <input matInput type="number" formControlName="critical" />
      </mat-form-field>
      <mat-form-field class="half-width no-bottom-margin">
        <mat-label>Range</mat-label>
        <input matInput type="numbre" formControlName="range" />
      </mat-form-field>
      <mat-form-field class="half-width no-bottom-margin">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type" />
      </mat-form-field>
      <mat-form-field class="full-width no-bottom-margin">
        <mat-label>Notes</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          formControlName="notes"
        ></textarea>
      </mat-form-field>
      <!-- <div class="ammunition"> -->
      <mat-form-field class="full-width no-bottom-margin">
        <mat-label>Ammunition Name</mat-label>
        <input matInput formControlName="ammunitionName" />
      </mat-form-field>
      <div class="full-width" formGroupName="ammunition">
        @for (ammo of getAmmoKeys(key); track ammo) {
          <mat-checkbox class="custom-checkbox" [formControlName]="ammo" />
        }
      </div>
      <div>
        @if (formKeys.length > 1) {
          <mat-icon (click)="removeWeapon(key)">delete</mat-icon>
        }
        @if (i === formKeys.length - 1) {
          <mat-icon (click)="addWeapon(key)">add</mat-icon>
        }
      </div>
      <!-- </div> -->
    </ng-container>
  }
</form>
