form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 10px;

  mat-form-field {
    overflow: visible !important;
  }

  .mat-form-field-wrapper {
    overflow: visible !important;
  }
}
