.character-sheet {
  padding: 20px;

  display: grid;
  grid-template-columns: minmax(350px, 450px) minmax(450px, 0.8fr) 1fr;
  grid-template-rows: auto auto auto auto auto 1fr;
  gap: 20px;
  align-items: center;;

  app-base-info {
    grid-column: 1 / span 3;
  }

  app-abilities {
    grid-row: span 2;
  }

  app-hit-points {
    grid-column: 2 / span 2;
  }

  app-initiative {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  app-skills {
    grid-column: 3;
    grid-row: 3 / span 4;
  }

  app-saving-throws {
    grid-column: 1 / span 2;
  }

  app-base-combat {
    grid-column: span 2;
  }
}
