<form [formGroup]="skillsForm">
  <table>
    <thead>
      <tr>
        <th class="vertical-text" rowspan="2">Class Skill?</th>
        <th colspan="6" class="title">Skills</th>
      </tr>
      <tr>
        <th class="prioritise-width">Skill Name</th>
        <th>Key Ability</th>
        <th>Skill Modifier</th>
        <th>Ability Modifier</th>
        <th>Ranks</th>
        <th>Misc Modifier</th>
      </tr>
    </thead>
    <tbody>
      @for(skill of skills; track skill) {
      <tr [formGroupName]="skill">
        <td><mat-checkbox formControlName="isClassSkill" /></td>
        <td>{{ convertCamelCaseToNormalText(skill) }}</td>
        <td>{{ getSkillAbility(skill) }}</td>
        <td>
          <mat-form-field class="no-bottom-margin">
            <input matInput formControlName="skillModifier" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="no-bottom-margin">
            <input matInput formControlName="abilityModifier" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="no-bottom-margin">
            <input matInput formControlName="ranks" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="no-bottom-margin">
            <input matInput formControlName="miscModifier" />
          </mat-form-field>
        </td>
      </tr>
      }
    </tbody>
  </table>
</form>
