.container {
  display: grid;
  grid-template-columns: 40px minmax(150px, 1fr) 50px repeat(4, 70px);
  gap: 8px;
  padding: 10px;

  align-items: center;

  p {
    margin: 0;
    &:not(.skill) {
      text-align: center;
    }
  }
  .title {
    grid-column: span 6;
    text-align: center;
  }
  mat-form-field {
    width: 100%;
    &.min-nowrap-width {
      width: 260px;
    }
  }

  .vertical-text {
    width: 40px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    vertical-align: middle;
    text-align: center;
    grid-row: 1 / span 2;
    line-height: 40px;
  }

  .specialisation {
    display: flex;
    align-items: center;
    gap: 15px;

    justify-content: space-between;
  }
}
