form {
  padding: 10px;
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-bottom: 20px;

    p {
      margin: 5px 0 0 0;
      &.center {
        text-align: center;
      }
    }

    app-title {
      height: 40px;
    }
  }

  // table {
  //   width: 100%;
  //   table-layout: fixed;

  //   th {
  //     font-size: 12px;
  //     &.small-table-column {
  //       width: 50px;
  //     }
  //     &:first-child {
  //       width: 100px;
  //     }
  //   }

  //   mat-form-field {
  //     width: 100%;
  //   }
  // }
}
