<form [formGroup]="baseCombatForm">
  <div>
    <app-title
      class="extra-height"
      [shortTitle]="'Base Attack Bonus' | uppercase"
    />
    <mat-form-field class="no-bottom-margin">
      <input matInput formControlName="baseAttackBonus" />
    </mat-form-field>
  </div>

  <div>
    <app-title
      class="extra-height"
      [shortTitle]="'Spell Resistance' | uppercase"
    />
    <mat-form-field class="no-bottom-margin">
      <input matInput formControlName="spellResistance" />
    </mat-form-field>
  </div>

  <div formGroupName="grapple">
    <app-title [shortTitle]="'Grapple' | uppercase" fullTitle="Modifier" />
    <mat-form-field class="no-bottom-margin">
      <mat-label>Total</mat-label>
      <input matInput formControlName="total" />
    </mat-form-field>
    <small>=</small>
    <mat-form-field class="no-bottom-margin">
      <mat-label>Base Attack Bonus</mat-label>
      <input matInput formControlName="baseAttackBonus" />
    </mat-form-field>
    <small>+</small>
    <mat-form-field class="no-bottom-margin">
      <mat-label>Strength Modifier</mat-label>
      <input matInput formControlName="strengthModifier" />
    </mat-form-field>
    <small>+</small>
    <mat-form-field class="no-bottom-margin">
      <mat-label>Size Modifier</mat-label>
      <input matInput formControlName="sizeModifier" />
    </mat-form-field>
    <small>+</small>
    <mat-form-field class="no-bottom-margin">
      <mat-label>Misc Modifier</mat-label>
      <input matInput formControlName="miscModifier" />
    </mat-form-field>
  </div>
</form>
